.hero {
  padding: 118px 60px;
  text-align: center;
  margin: 0 auto;
  @include tablet {
    padding: 118px 204px;
  }
  @include desktop {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero--overlay {
  // max-width: 1600px;
  width: 100%;
  background-image: var(--bg-gradient), url(/images/team-mob.jpeg);
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include retina {
    background-image: var(--bg-gradient), url(/images/team-mob-2x.jpeg);
  }
  @include tablet {
    background-image: var(--bg-gradient), url(/images/team-tab.jpeg);
    @include retina {
      background-image: var(--bg-gradient), url(/images/team-tab-2x.jpeg);
    }
  }
  @include desktop {
    background-image: var(--bg-gradient), url(/images/team.jpeg);
    @include retina {
      background-image: var(--bg-gradient), url(/images/team-2x.jpeg);
    }
  }
}

.hero__title {
  color: var(--container-bg-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  text-transform: uppercase;
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
  @include desktop {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero__button {
  min-width: 200px;
  @include desktop {
    min-width: 216px;
  }
}
