.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  position: absolute;
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal__btn {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--container-bg-color);
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.modal__close {
  fill: currentColor;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.form {
  width: 448px;
  margin: 0 auto;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.form__field.comment {
  margin-bottom: 0;
}

label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.form__field input {
  margin-top: 4px;
  padding: 11px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  color: var(--primary-text-color);
}

.form__field label {
  margin-bottom: 4px;
}

.form__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
  .form__input:focus ~ & {
    fill: var(--accent-color);
  }
}

.form__input:focus {
  border-color: var(--accent-color);
}

// .form__input:focus ~ .form__icon {
//   fill: var(--accent-color);
// }

textarea {
  resize: none;
  width: 100%;
  height: 120px;
  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.form__field textarea {
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding: 12px 16px;
  color: var(--primary-text-color);
}

.checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 20px;
}

.checkbox__label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 2.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-align: center;
}

.checkbox__input {
  appearance: none;
  /* position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; */
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 4px;
  margin-right: 7px;
  .checkbox__input:checked + .checkbox__check > & {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    background-image: url(../images/svg/icon_check.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    background-origin: border-box;
  }

  .checkbox__input:focus + .checkbox__check > & {
    border-color: var(--accent-color);
  }
}

// .checkbox__input:checked + .checkbox__check > .checkbox__icon {
//   background-color: var(--accent-color);
//   border-color: var(--accent-color);
//   background-image: url(../images/svg/icon_check.svg);
//   background-repeat: no-repeat;
//   background-position: 50% 50%;
//   background-size: contain;
//   background-origin: border-box;
// }

// .checkbox__input:focus + .checkbox__check > .checkbox__icon {
//   border-color: var(--accent-color);
// }

.checkbox__accent {
  color: var(--accent-color);
  text-decoration: underline;
  margin-left: 5px;
}

.form__button {
  display: block;
}