.soc__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soc__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--clients-border-color);
  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--container-bg-color);
  }
}

.soc__icon {
  fill: currentColor;
}
